.ai-monaco-ngx-monaco-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .ngx-monaco-editor {
    min-height: 100px; 
    display:block;
    flex: 1;
  }

